@font-face {
    font-family: 'FontSquidGames';
    src: url('../../../public/assets/fonts/FontSquidGames.ttf') format('truetype');
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    user-select: none;
    align-items: center;
    justify-items: center;
}

.imagen-gabriel img {
    width: 650px; 
    height: auto;
    position: absolute;
    left: 0; 
    bottom: 0; 
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Gabriel-text-primary {
    font-size: 50px;
    font-weight: bold;
    color: red;
    font-family: 'FontSquidGames', Arial, sans-serif;
    text-align: center; 
    margin-bottom: 20px; 
}

.Gabriel-text-secondary {
    font-size: 28px;
    font-weight: bold;
    color: red;
    font-family: 'FontSquidGames', Arial, sans-serif;
    text-align: center;
    margin-bottom: 20px; 
}

.button-start > button {
    color: white;
    background-color: red;
    font-weight: bold;
    width: 96px;
    height: 32px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.button-start > button:hover {
    background-color: #FF5757;
}

.button-start > button:active {
    background-color: #920A0A;
}

.button-start > button:disabled {
    background-color: #fde6e7;
    cursor: not-allowed;
}
